body {
	background : #ffc97a;
}

html {
	overflow: hidden;
}

.pamantes1 {
	width: 500px;
	height: 400px;
	background:#fc5050;
	transform: rotate(-45deg);
	margin-top: -250px;
	margin-left: -250px;
}

.pemantes2 {
	width: 1000px;
	height: 1000px;
	background:#fc5050;
	transform: rotate(-45deg);
	float: right;
	margin-top: 300px;
	margin-left: 900px;
	position: absolute;
}

.scroll-chat {
	box-shadow: 0px 0px 20px rgba(0,0,0,7);
	width: 350px;
	height: 450px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	border-radius: 10px;
	background: #eeefff;
	margin-top:-70px;
}

ul.li {
	list-style: none;
}

input {
	width: 95%;
	height: 50px;
	line-height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: auto;
	margin-left: 15px;
	border-radius: 40px;
	outline: auto;
	text-align: center;
}

.chat {
	background:#fff;
	margin-left: -50px;
	position: relative;
	overflow: hidden;
}

.chat p {
	margin-left: 95px;
	margin-top: 10px;
	padding: 10px;
}

li {
	height: 50px;
	line-height: 50px;
	background:#fff;
	margin-left: -35px;
	margin-bottom: 10px;
	padding: 10px;
}

li a {
	text-decoration: none;
	margin-top: -10px;
	margin-left: 105px;
	font-size: 21px;
	position: absolute;
	color: lightskyblue;
	font-family: arial narrow;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 40px;
	position: absolute;
}

p {
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background:#f0f0f0;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:black ;
}

::-webkit-scrollbar-thumb:hover {
	background:black ;
}